@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Work Sans", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #0D0C0C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  color:#FF7121
}

a:hover {
  color: #FF7121;
}

@font-face {
  font-family: "Work Sans";
  src: url("../src/assets/fonts/work_sans.ttf");
}
@font-face {
  font-family: "Prompt";
  src: url("../src/assets/fonts/Prompt-Medium.ttf");
}
